@model IEnumerable<UserViewModel>
@{

    ViewBag.Title = "NetCore 8.0";
}
<!-- Top bar -->
<header class="bg-white shadow-sm sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
        <img src="~/favicon.ico" asp-append-version="true"/>
        <h1 class="text-lg sm:text-xl font-emibold tracking-tight"><label>NetCoreApp</label></h1>
        @if (User.Identity?.IsAuthenticated?? false)
        {
            <span><pre>@User.Identity.Name  <a asp-controller="Home" asp-action="Logout">LogOut</a></pre></span>
        }
        else
        {
            <span>Guest</span>
        }
    </div>
</header>

<!-- Main content -->
<main class="max-w-7xl mx-auto px-4 py-8">
    <div class="overflow-x-auto shadow ring-1 ring-gray-200 sm:rounded-2xl bg-white">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100">
                <tr class="text-sm font-medium text-gray-600">
                    <th scope="col" class="px-4 py-3 text-left">ID</th>
                    <th scope="col" class="px-4 py-3 text-left">Name</th>
                    <th scope="col" class="px-4 py-3 text-left">Location</th>
                    <th scope="col" class="px-4 py-3 text-left">User ID</th>
                    <th scope="col" class="px-4 py-3 text-left">Created On</th>
                    <th scope="col" class="px-4 py-3 text-left">Modified On</th>
                    <th scope="col" class="px-4 py-3 text-right">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 text-sm">
                @if(Model != null)
                {
                    @foreach (UserViewModel user in Model)
                    {
                        <tr class="hover:bg-gray-50">
                            <td class="px-4 py-3 whitespace-nowrap font-mono text-xs">@user.Id</td>
                            <td class="px-4 py-3">@user.Name</td>
                            <td class="px-4 py-3">Location</td>
                            <td class="px-4 py-3">@user.Email</td>
                            <td class="px-4 py-3">Created On</td>
                            <td class="px-4 py-3">Modified On</td>
                            <td class="px-4 py-3 text-right space-x-2">
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="hover:bg-gray-50 text-center">
                        <td colspan="7">No Data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>